<!-- This page show wordlist and ask user to enter the word after -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery Key - Wordlist Verify</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- External CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="signUp-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <h2 class="text-center">Recovery Key - Wordlist</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form action="/recovery_verify_word_reg" method="post">
            <div style="text-align: center;">
                <h4 class = "text-center"> Please write down the words you have seen.</h4>
            </div>
            <div class="form-group">
                <label for="word1">Word {{number1}}</label>
                <input type="text" class="form-control" id="word1" name="word1" required>
            </div>
            <div class="form-group">
                <label for="word2">Word {{number2}}</label>
                <input type="text" class="form-control" id="word2" name="word2" required>
            </div>
            <div class="form-group">
                <label for="word3">Word {{number3}}</label>
                <input type="text" class="form-control" id="word3" name="word3" required>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary"> VALIDATE Correctness</button>
            </div>
            
        </form>
    </div>
</body>
</html>
